* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 244, 246);
}

.profil {
    margin: 5%;
    background-color: white;
    border-radius: 20px;
    }

h1 {
    color: rgb(79, 70, 299);
    font-size: 50px;
    font-family: 'Segoe UI', sans-serif;
    padding-bottom: 3%;
    margin-left: 10%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 41, 55);
    padding-bottom: 2%;

}

.hltext {
    font-size: 30px;
    margin-left: 10%;
}

.hlpod {
    font-size: 22px;
    margin-left: 10%;
}

.foto img {
    display: inline-block;
    border: 5px solid rgb(79, 70, 299);
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin-top: 10%;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;
}

h2 {
    color: rgb(99, 102, 241);
    font-family: 'Segoe UI', sans-serif;
    font-size: 35px;
    padding: 5% 0%;
    margin-left: 10%;
}

.dovednost1 {
    background-color: rgb(238, 242, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 41, 55);
    font-size: 22px;
    border-radius: 20px;
    margin: 0% 10% 3%;
}

.dovednost2 {
    background-color: rgb(238, 242, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 41, 55);
    font-size: 22px;
    border-radius: 20px;
    margin: 0% 10% 3%;
}

.dovednost3 {
    background-color: rgb(238, 242, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 41, 55);
    font-size: 22px;
    border-radius: 20px;
    margin: 0% 10% 3%;
}

.dovednost4 {
    background-color: rgb(238, 242, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 41, 55);
    font-size: 22px;
    border-radius: 20px;
    margin: 0% 10% ;
}

.logoprokavarnu {
    display: inline-block;
    border: 5px solid rgb(243, 244, 246);
    border-radius: 20px;
    padding: 3%;
    width: 80%;
    margin: 0% 10% 5% ;
   
}

.logoprokavarnu img {
    height: 350px;
    border-radius: 20px;
    width: 100%;
    
    
}

.kavarnatext {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 2%;

}

.kavarnadruhytext {
    font-size: 25px;

}
.plakatprokulturniakci {
    display: inline-block;
    border: 5px solid rgb(243, 244, 246);
    border-radius: 20px;
    padding: 3%;
    width: 80%;
    margin: 0% 10% 5% ;
    
   
}

.plakatprokulturniakci img {
    height: 350px;
    border-radius: 20px;
    width: 100%;
    
}

.akcetext {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 2%;

}

.akcedruhytext {
    font-size: 25px;

}
.obalkaknihy {
    display: inline-block;
    border: 5px solid rgb(243, 244, 246);
    border-radius: 20px;
    padding: 3%;
    width: 80%;
    margin: 0% 10%  ;
    
   
}

.obalkaknihy img {
    height: 350px;
    border-radius: 20px;
    width: 100%;
    
}

.knihatext {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 2%;

}

.knihadruhytext {
    font-size: 25px;

}

.email, .instagram, .behance {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    padding: 0% 0% 3% 10%;
    color: rgb(31, 41, 55);
}
.instagram, .behance {
    display: flex;
    flex-wrap: nowrap;
}
.modrytext {
    color: rgb(99, 102, 241);
}

@media ( min-width: 1200px ) {
    .profil{
        width: 1000px;
        margin: auto;
        margin-top: 5% ;
        margin-bottom: 5%;
        padding: 2% 0%;
    }
    .foto {
        padding: 0% 5% 5% 5%;
    }
    h2 {
        margin: 0% 5% ;
        padding: 2% 0%;
        font-size: 25px;
    }
    
    .foto img {
        height: 130px;
        width: 130px;
    }
    .info {
        display: flex;
    
    }
    .infotexty {
        flex-wrap: wrap;
        
    }
    h1 {
        margin-top: 2%;
        margin-left: 0%;
        font-size: 30px;
    }
    .hltext {
        font-size: 25px;
        margin-left: 0%;
        
    }
    
    .hlpod {
        font-size: 15px;
        margin-left: 0%;
    }
    .dovednosti h2 {
        padding: 0% 0% 2% 0%;
    }
    .vsechnydovednosti {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0% 5%;
        
    }
    .dovednost1, .dovednost2, .dovednost3, .dovednost4 {
        margin: 0%;
        width: 22%;
        font-size: 15px;
    }
    .projekty {
        width: 90%;
        margin: 0% 5%;
        display: flex;
        justify-content: space-between;
        
        
    }
    .logoprokavarnu, .obalkaknihy, .plakatprokulturniakci {
        width: 32%;
        margin: 0%;
        padding: 2%;
    }
    .logoprokavarnu img , .obalkaknihy img , .plakatprokulturniakci img {
        height: 170px;
    }

    .knihadruhytext, .akcedruhytext, .kavarnadruhytext {
        font-size: 15px;
    }
    .kavarnatext, .akcetext, .knihatext {
        font-size: 20px;
    }
    .email, .instagram, .behance {
        padding: 0% 5% 2%;
        font-size: 20px;
    }
}
